<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension-point id="com.dynatrace.diagnostics.InstallerContent" name="com.dynatrace.diagnostics.InstallerContent" schema="schema/com.dynatrace.diagnostics.InstallerContent.exsd"/>
   <extension point="com.dynatrace.diagnostics.InstallerContent">
      <metainfo installer_type="resourcepack" name="FastPack Resources">
      <resource resource="dashboards/y_Production - [y] cache metrics.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] cron jobs.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] database connection pool.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] database performance.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] end user performance overview.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] java garbage collection.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] java memory pools.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] page class performance.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] request balancing.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] solr request performance.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] webrequest distribution.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Production - [y] webrequest performance.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] cache metrics.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] cron jobs.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] database connection pool.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] database performance.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] end user performance overview.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] java garbage collection.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] java memory pools.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] page class performance.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] request balancing.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] solr request performance.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] webrequest distribution.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="dashboards/y_Staging - [y] webrequest performance.dashboard.xml" resource_type="dashboard">
	            	<instance instance="server"/>
	         	</resource>
<resource resource="profiles/y_Production.profile.xml" resource_type="systemProfile">
		            <instance instance="server"/>
		        </resource>
<resource resource="profiles/y_Staging.profile.xml" resource_type="systemProfile">
		            <instance instance="server"/>
		        </resource>
</metainfo>
   </extension>
</plugin>
